// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

.img-fluid {
    // img and CSS formatting
    max-width: 500px;
    min-width: 100px;
}

.nav-header {
    // css for the nav bar
    display: flex;
    justify-content: center;
    background-color: burlywood;
    padding: 2rem;
}

a {
    // link padding
    padding-left: 2rem;
    padding-right: 2rem;
}

img {
    // img padding and other css
    padding-top: 2rem;
}

h1 {
    display: flex;
    justify-content: center;
}

.accordion-button {
    // background color for accordion button
    background-color: aqua;
}